<ul class="right hide-on-med-and-down">
	<li><a class="dropdown-button" href="#!" data-activates="testRestDropdown">Json me i'am famous !<i class="material-icons right">arrow_drop_down</i></a></li>
	<li>
		<ul id="testRestDropdown" class="dropdown-content">
			<li><a href="/bibliospring/subscribers/all">subscribers</a></li>
			<li class="divider"></li>
			<li><a href="/bibliospring/authors/all">authors</a></li>
			<li class="divider"></li>
			<li><a href="/bibliospring/bibliousers/all">biblio users</a></li>
			<li class="divider"></li>
			<li><a href="/bibliospring/categories/all">categories</a></li>
			<li class="divider"></li>
			<li><a href="/bibliospring/books/all">books</a></li>
			<li class="divider"></li>
			<li><a href="/bibliospring/bookcopies/all">book copies</a></li>
			<li class="divider"></li>
			<li><a href="/bibliospring/borrow/all">borrow</a></li>
		</ul>
	</li>
	<li><a id="subscriberNavItem" href="/bibliospring/subscribers/management">Subscribers</a></li>
	<li><a href="/bibliospring/borrows/management">Borrows</a></li>
	<li><a href="/bibliospring/books/management">Books</a></li>
	<li><a href="/bibliospring/authors/management">Author</a></li>
	<li><a href="/bibliospring/copies/management">Copies</a></li>
	<li><a href="/bibliospring/categories/management">Categories</a></li>
</ul>
