<nav class="blue-grey lighten-2" role="navigation">

	<div class="nav-wrapper">
		
		<a href="/" class="brand-logo">Bibliospring</a>

	    {% include "/templates/nav/desktop.nav.twig" %}
	    
	    {% include "/templates/nav/mobile.nav.twig" %}

	</div>
</nav>